<div class="container">
    <h1 class="page-title center">Home</h1>
    <div class="page-nav-profile">
        <span>Hello Qiaoli</span>
        <span class="user-icon center">
            <img src="/assets/icon/user.png" width="25" height="25">
        </span>
    </div>
    <div class="cards-list">
        <a href="/card" class="card-item" style="background: #4EC1F5;">
            <div class="card-left">
                <div class="card-label">Balance</div>
                <div class="card-amount">25.00</div>
            </div>
           <div class="card-right text-right">
               <span class="card-icon">
                    <img src="/assets/icon/sydney-opera-house.png" width="35" height="35">
                </span>
               <div class="card-location">Sydney<i class="small material-icons">chevron_right</i></div>
           </div>
        </a>
        <a href="#" class="card-item" style="background: #66B96A;">
            <div class="card-left">
                <div class="card-label">Balance</div>
                <div class="card-amount">25.00</div>
            </div>
            <div class="card-right text-right">
               <span class="card-icon">
                    <img src="/assets/icon/melbourne.png" width="35" height="35">
                </span>
                <div class="card-location">Melbourne<i class="small material-icons">chevron_right</i></div>
            </div>
        </a>
    </div>
    <div class="history-list mt-20">
        <div class="list-header"><span class="list-title">History</span> <a href="#">See all</a></div>
        <a class="history-item">
            <div class="h-item-left">
                <img src="/assets/icon/melbourne.png" width="30" height="30">
            </div>
            <div class="h-item-right">
                <div class="h-item-title">Flinders Street - Deakin University</div>
                <div class="h-item-info">
                    <span class="date">15 Mar 2021</span>
                    <span class="price">-$4.50</span>
                </div>
            </div>
        </a>
        <a class="history-item">
            <div class="h-item-left">
                <img src="/assets/icon/melbourne.png" width="30" height="30">
            </div>
            <div class="h-item-right">
                <div class="h-item-title">Flinders Street - Deakin University</div>
                <div class="h-item-info">
                    <span class="date">15 Mar 2021</span>
                    <span class="price">-$4.50</span>
                </div>
            </div>
        </a>
        <a class="history-item">
            <div class="h-item-left">
                <img src="/assets/icon/melbourne.png" width="30" height="30">
            </div>
            <div class="h-item-right">
                <div class="h-item-title">Flinders Street - Deakin University</div>
                <div class="h-item-info">
                    <span class="date">15 Mar 2021</span>
                    <span class="price">-$4.50</span>
                </div>
            </div>
        </a>
        <a class="history-item">
            <div class="h-item-left">
                <img src="/assets/icon/melbourne.png" width="30" height="30">
            </div>
            <div class="h-item-right">
                <div class="h-item-title">Flinders Street - Deakin University</div>
                <div class="h-item-info">
                    <span class="date">15 Mar 2021</span>
                    <span class="price">-$4.50</span>
                </div>
            </div>
        </a>
    </div>
    <div class="bottom-bar center">
        <a href="#modal-new-card" class="modal-trigger btn-floating btn-large waves-effect waves-light green"><i class="material-icons">add</i></a>
    </div>
    <div id="modal-new-card" class="modal bottom-sheet">
        <div class="modal-content">
            <div class="modal-close-icon modal-close">x</div>
            <h4 class="modal-title">Get a new card</h4>
            <div>
                <label>Which City’s transport card you want to apply for?</label>
                <div class="mt-10"><input/></div>
            </div>
            <div>
                <label class="mb-20">Are you a resident?</label>
                <div class="mt-10 mb-10">
                    <label>
                        <input name="yes" type="radio" checked />
                        <span>Yes</span>
                    </label>
                    <label class="ml-20">
                        <input name="no" type="radio" />
                        <span>No</span>
                    </label>
                </div>
            </div>
            <div>
                <label>Card Holder’s name</label>
                <div class="mt-10"><input/></div>
            </div>
            <div>
                <label class="mb-20">Gender</label>
                <div class="mt-10 mb-10">
                    <label>
                        <input name="female" type="radio" checked />
                        <span>female</span>
                    </label>
                    <label class="ml-20">
                        <input name="male" type="radio" />
                        <span>male</span>
                    </label>
                </div>
            </div>
            <div>
                <label class="mb-20">Current Address</label>
                <div class="mt-10"><input/></div>
            </div>
            <div>
                <label class="mb-20">Email</label>
                <div class="mt-10"><input/></div>
            </div>
            <div>
                <label class="mb-20">Phone</label>
                <div class="mt-10"><input/></div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="button-primary" href="#">Submit</a>
        </div>
    </div>
</div>

