<div class="container">
    <h1 class="page-title center">Home</h1>
    <div class="page-nav-profile">
        <span>Hello Qiaoli</span>
        <span class="user-icon center">
            <img src="/assets/icon/user.png" width="25" height="25">
        </span>
    </div>
    <div class="cards-list">
        <a href="#" class="card-item" style="background: #4EC1F5;">
            <div class="card-left">
                <div class="card-label">Balance</div>
                <div class="card-amount">25.00</div>
            </div>
           <div class="card-right text-right">
               <span class="card-icon">
                    <img src="/assets/icon/sydney-opera-house.png" width="35" height="35">
                </span>
               <div class="card-location">Sydney<i class="small material-icons">chevron_right</i></div>
           </div>
        </a>
        <a href="#" class="card-item" style="background: #4EF5D7;">
            <div class="card-left">
                <div class="card-label">Balance</div>
                <div class="card-amount">25.00</div>
            </div>
            <div class="card-right text-right">
               <span class="card-icon">
                    <img src="/assets/icon/melbourne.png" width="35" height="35">
                </span>
                <div class="card-location">Melbourne<i class="small material-icons">chevron_right</i></div>
            </div>
        </a>
    </div>
    <div class="history-list mt-20">
        <div class="list-header"><span class="list-title">History</span> <a href="#">See all</a></div>
        <a class="history-item">
            <div class="h-item-left">
                <img src="/assets/icon/melbourne.png" width="30" height="30">
            </div>
            <div class="h-item-right">
                <div class="h-item-title">Flinders Street - Deakin University</div>
                <div class="h-item-info">
                    <span class="date">15 Mar 2021</span>
                    <span class="price">-$4.50</span>
                </div>
            </div>
        </a>
        <a class="history-item">
            <div class="h-item-left">
                <img src="/assets/icon/melbourne.png" width="30" height="30">
            </div>
            <div class="h-item-right">
                <div class="h-item-title">Flinders Street - Deakin University</div>
                <div class="h-item-info">
                    <span class="date">15 Mar 2021</span>
                    <span class="price">-$4.50</span>
                </div>
            </div>
        </a>
        <a class="history-item">
            <div class="h-item-left">
                <img src="/assets/icon/melbourne.png" width="30" height="30">
            </div>
            <div class="h-item-right">
                <div class="h-item-title">Flinders Street - Deakin University</div>
                <div class="h-item-info">
                    <span class="date">15 Mar 2021</span>
                    <span class="price">-$4.50</span>
                </div>
            </div>
        </a>
        <a class="history-item">
            <div class="h-item-left">
                <img src="/assets/icon/melbourne.png" width="30" height="30">
            </div>
            <div class="h-item-right">
                <div class="h-item-title">Flinders Street - Deakin University</div>
                <div class="h-item-info">
                    <span class="date">15 Mar 2021</span>
                    <span class="price">-$4.50</span>
                </div>
            </div>
        </a>
    </div>
    <div class="bottom-bar center">
        <a class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">add</i></a>
    </div>
</div>

