<div class="container rate-review-view">
    <h1 class="page-title center">Rate and Review</h1>
    <div class="page-nav-profile">
        <div class="page-nav-user">
                <span class="user-icon center">
                  <img id="user-icon" src="/assets/icon/user.png" width="25" height="25">
               </span>
            <div class="ml-10" id="userName">Hello <span id="userNameSpan"></span></div>
        </div>
        <a href='/home/home.html'>back</a>
    </div>
    <div class="rate-title">
        <div class="rate-city">
            <%= cardData[0].city %>
        </div>
        <div class="rate-score">
            <div id="averageScore"></div>
            <div id="averageScore-text">0.0</div>
        </div>
    </div>
    <div class="rate-score-percentage">
        <div class="percentage-bar">
            <div class="percentage-content star-5"></div>
        </div>
        <div>5.0</div>
    </div>
    <div class="rate-score-percentage">
        <div class="percentage-bar">
            <div class="percentage-content star-4"></div>
        </div>
        <div>4.0</div>
    </div>
    <div class="rate-score-percentage">
        <div class="percentage-bar">
            <div class="percentage-content star-3"></div>
        </div>
        <div>3.0</div>
    </div>
    <div class="rate-score-percentage">
        <div class="percentage-bar">
            <div class="percentage-content star-2"></div>
        </div>
        <div>2.0</div>
    </div>
    <div class="rate-score-percentage">
        <div class="percentage-bar">
            <div class="percentage-content star-1"></div>
        </div>
        <div>1.0</div>
    </div>

    <div class="center mt-30">Share your experience to help others</div>
    <div class="rate-wrap">
        <div id="rateYo"></div>
        <div id="rateScore"></div>
    </div>
    <div class="rate-editor">
        <textarea id="reviewContext"></textarea>
    </div>
    <div class="mt-10">
        <button class="button-primary" id="postReview">Post</button>
    </div>

    <div class="search-bar">
        <input class="search-input" type="text" />
        <div class="search-btn"><i class="material-icons text-gray">search</i></div>
    </div>
    <div class="review-list">
        <!-- review items here-->
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.js"></script>

<script src="/rateAndReview.js"></script>
