<div class="container rate-review-view">
    <h1 class="page-title center">Rate and Review</h1>
    <div class="page-nav-profile">
        <div class="page-nav-user">
                <span class="user-icon center">
                  <img id="user-icon" src="/assets/icon/user.png" width="25" height="25">
               </span>
            <div class="ml-10" id="userName">Hello <span id="userNameSpan"></span></div>
        </div>
        <a href='/home/home.html'>back</a>
    </div>
    <div class="rate-title">
        <div class="rate-city">
            <%= cardData[0].city %>
        </div>
        <div class="rate-score">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star gray"></div>
            <div>4.0</div>
        </div>
    </div>
    <div class="rate-score-percentage">
        <div class="percentage-bar">
            <div class="percentage-content"></div>
        </div>
        <div>4.0</div>
    </div>
    <div class="rate-score-percentage">
        <div class="percentage-bar">
            <div class="percentage-content"></div>
        </div>
        <div>4.0</div>
    </div>
    <div class="rate-score-percentage">
        <div class="percentage-bar">
            <div class="percentage-content" style="width: 70%"></div>
        </div>
        <div>3.0</div>
    </div>
    <div class="rate-score-percentage">
        <div class="percentage-bar">
            <div class="percentage-content" style="width: 100%"></div>
        </div>
        <div>5.0</div>
    </div>
    <div class="rate-score-percentage">
        <div class="percentage-bar">
            <div class="percentage-content" style="width: 10%"></div>
        </div>
        <div>1.0</div>
    </div>

    <div class="center mt-30">Share your experience to help others</div>
    <div class="rate-wrap">
        <div id="rateYo"></div>
        <div id="rateScore"></div>
    </div>
    <div class="rate-editor">
        <textarea id="reviewContext"></textarea>
    </div>
    <div class="mt-10">
        <button class="button-primary" id="postReview">Post</button>
    </div>

    <div class="review-list mt-30">
        <div class="review-item">
            <div class="review-top">
                <img src="/assets/icon/user.png" width="32" height="32">
                <span>Name</span>
            </div>
            <div class="basic-flex mt-10">
                <div>star</div>
                <div class="text-gray ml-10">3 months ago</div>
            </div>
            <div class="review-content mt-10">
                Mary and the team are excellent to deal with, over the past 5 years of dealing with Ace Property Share they have made everything very simple.

                They are quick to respond to emails and phone calls and deal with things in a prompt and professional manner.
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.js"></script>

<script src="/rate.js"></script>
