<div class="container rate-review-view">
    <h1 class="page-title center">Rate and Review</h1>
    <div class="page-nav-profile">
        <div class="page-nav-user">
                <span class="user-icon center">
                  <img id="user-icon" src="/assets/icon/user.png" width="25" height="25">
               </span>
            <div class="ml-10" id="userName">Hello <span id="userNameSpan"></span></div>
        </div>
        <a href='/home/home.html'>back</a>
    </div>
    <div class="rate-title">
        <div class="rate-city">
            Melbourne
        </div>
        <div class="rate-score">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star gray"></div>
            <div>4.0</div>
        </div>
    </div>
    <div class="rate-score-percentage">
        <div class="percentage-bar">
            <div class="percentage-content"></div>
        </div>
        <div>4.0</div>
    </div>
    <div class="rate-score-percentage">
        <div class="percentage-bar">
            <div class="percentage-content"></div>
        </div>
        <div>4.0</div>
    </div>
    <div class="rate-score-percentage">
        <div class="percentage-bar">
            <div class="percentage-content" style="width: 70%"></div>
        </div>
        <div>3.0</div>
    </div>
    <div class="rate-score-percentage">
        <div class="percentage-bar">
            <div class="percentage-content" style="width: 100%"></div>
        </div>
        <div>5.0</div>
    </div>
    <div class="rate-score-percentage">
        <div class="percentage-bar">
            <div class="percentage-content" style="width: 10%"></div>
        </div>
        <div>1.0</div>
    </div>
</div>