.ranking-city-page{
    
}
.ranking-list .rankingList-item-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .ranking-list .rankingList-item-info .ranking-table{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }