.helloInput {
  width: 200px;
}
.mainText{
  color:white;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.page-footer{
  text-align: center;
  background-color: #FFFFFF;
}
.page-footer .footer-copyright{
  font-size: 12px;
  color: #d7d7d7;
  background-color: #FFFFFF;
}
main {
  flex: 1 0 auto;
}
label.active {
  color: #2c0235;
  font-weight: bold;
  font-size: large;
}

.recordForm {
  margin-top: 11.25px;
}

#addButton-container {
  height: 317.531px;
  margin-top: 7.5px;
  margin-bottom: 15px;
}

#addButton {
  top: 40%;
  background-color: #9E65A9;
}

.modal {
  height: 50%
}

.card {
  margin-left: 25px;
  margin-right: 25px;
}

.preloader-wrapper {
  position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}

a.hover {
  cursor: pointer;
}

.card-content {
  color: black;
}

#podName_span {
  font-size: 18px;
}

#insectsAmount_span {
  font-size: 30px;
}

#insect-icon {
  margin-top: 20px;
  font-size: 30px;
}

/*
 *  add by qiaoli wang
 *  wangqiao@deakin.edu.au
*/

.brand-logo{
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #EEFCF3;
  border-bottom-left-radius: 50px;
}
h1.home-title{
  font-size: 2.2rem;
  color: #000000;
  text-align: center;
}
.home-des{
  color: #AEAEB2;
}
.button-primary{
  display: inline-block;
  width: 340px;
  max-width: 90%;
  height: 58px;
  line-height: 58px;
  text-align: center;
  background: linear-gradient(180deg, #8FFB7D 0%, #2CBB87 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  color: #FFFFFF;
  border:0px;
  cursor: pointer;
}
.modal{
  height: 95%!important;
}
#modal-login .modal-footer{
  text-align: center!important;
}
.modal .modal-title{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.modal .notice-link{
  margin-top: 100px;
}
.modal-close-icon{
  width: 30px;
  height: 30px;
  border-radius: 30px;
  line-height: 28px;
  text-align: center;
  font-weight: bolder;
  background-color: rgba(118,118,128,.12);
  position: absolute;
  right: 20px;
  top:20px;
}
/* re-write materializecss */
.modal.bottom-sheet{
  border-top-left-radius: 20px!important;
  border-top-right-radius: 20px !important;
  max-height: 85%!important;
}
.modal-content{
  position: relative;
}
label {
  font-size: .9rem;
  color: #333;
}
input{
  background-color: #f2f2f2!important;
  border-radius: 6px!important;
  border-bottom: 0px solid #FFFFFF!important;
}
input:focus{
  border-bottom: 0px solid #FFFFFF!important;
}
.mt-10{
  margin-top: 10px;
}