.travel-list .travel-item{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 100px;
  }
  .travel-date{
    margin-top: 10px;
    margin-left: 200px;
    font-weight: bold;
    font-size: 15px;
  }
  .calendar-icon img{
    width: 15px;
    height: 15px;
  }
  
  .ml-130{
    margin-left: 200px;
  }
  .mt-130{
    margin-top: 130px;
  }
  .transac-list .transac-item{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .transac-date{
    margin-top: 20px;
    margin-left: 0px;
    font-weight: bold;
    font-size: 15px;
  }
  .t-item-left{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #F2F2F7;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .t-item-left img{
    mix-blend-mode: luminosity;
  }
  .t-item-right{
    flex: 1;
  }
  .t-item-right .t-item-title{
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .ml-50{
    margin-left: 50px;
  }
  .t-item-right .t-item-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .travel-item-info{
    display: flex;
    justify-content: flex-end;
    color: #000000;
  }
  .transaction-detail-item{
    align-items:center;
  }
  .transaction-detail-item .transaction-detail-item-title{
    font-size: 22px;
    font-weight: bold;
  }
  .transaction-icon img{
    margin-top: 170px;
  }
  .transaction-detail-item .transaction-detail-item-price{
    font-size: 17px;
    margin-top: 30px;
    font-weight: bold;
  }

  